.navcard {
  width: 7%;
  background-color: white;
  min-height: 100vh;
  max-height: max-content;
  position: fixed;
  animation: close 0.5s ease-in-out;
}
@keyframes close {
  0% {
    width: 20%;
  }
  100% {
    width: 7%;
  }
}
.navcardOpen {
  width: 20%;
  background-color: white;
  min-height: 100vh;
  max-height: max-content;
  position: fixed;
  animation: open 0.5s ease-in-out;
}
@keyframes open {
  0% {
    /* transform: translateX(5%); */
    width: 7%;
  }
  100% {
    /* transform: translateX(20%); */
    width: 20%;
  }
}
.appLogo {
  width: 100%;
  height: max-content;
  /* cursor: default; */
}
.Logo {
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 0.7rem;
  cursor: default;
  margin-top: 20px;
}
.logoIcon {
  color: rgb(0, 98, 255);
  margin-right: 10px;
}
.homeDescripotion {
  color: grey;
}
.contents {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-weight: 600;
  height: 50px;
  font-size: 0.7rem;
  /* background-color: rgb(236, 234, 234); */
  position: relative;
  cursor: pointer;
}
.contents:hover {
  background-color: rgb(211, 211, 211);
}
a:active {
  background-color: red !important;
}
.paddingClosed {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: white;
}
.paddingClosed:hover {
  background-color: rgb(211, 211, 211);
}
.division {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  /* background-color: red; */
  padding-left: 20px;
  font-style: bold;
  color: grey;
  font-size: 0.7rem;
  /* margin-top: 10px; */
  cursor: default;
}
.padding {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  align-items: center;
  color: rgb(0, 140, 255);
  background-color: rgb(238, 238, 249);
  /* position: relative; */
}
.cicon {
  margin-right: 10px;
  font-size: 2em;
  color: grey;
  color: rgb(46, 46, 46);
  /* padding: 5px; */
}
.ciconActive {
  margin-right: 10px;
  font-size: 2em;
  color: rgb(0, 140, 255);
}
.contentIconClosed {
  padding: 5px;
  color: white;
  background-color: grey;
  /* background-color: rgb(0, 140, 255); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
}
.contentIcon {
  padding: 5px;
  color: white;
  background-color: blueviolet;
  background-color: rgb(0, 140, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
}
.padding::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(0, 140, 255);
}

.colorToggle {
  margin-left: 30%;
  /* margin-right: 0; */
  background-color: ghostwhite;
  background-color: rgb(228, 238, 255);
  border-radius: 30px;
  padding: 5px 5px;
  display: flex;
}
.toggleSun {
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: white;
  color: rgb(0, 140, 255);
}
.toggleMoon {
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  /* background-color: white; */
}
